button{
	display: block;
	margin: 20px;
}
p{
	font-size: 30px;
	text-align: center;
	color:white;
}
#picture{
	height:50%;
	width:50%;
	display: block;
	margin: 0 auto;
}

#button3{
	margin-top: 10px;
}
#title{
	text-align: center;
	color: white;
}

#body{
background-color: darkgrey;
}

#kitty{
	display: block;
	margin: 0;
	height: 50%;
	width: 50%;
}
